table {
  width: 100%;
}

.no-box-shadow {
  box-shadow: none !important;
}

.produkciju-margin {
  margin-left: 24px!important;
}


.column-produkcijos {
  min-width: 33.33%;
}

.row-produkcijos{
  display: inline !important;
}
