<h1 class="header1">Produkcijų grandinių sąrašas</h1>
<div class="example-button-row button-margin">
  <button routerLink="/gamybos-grandines/kurti-nauja" mat-raised-button class="button">Kurti naują</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 row">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Position Column -->
  <ng-container matColumnDef="vykdyti">
    <th mat-header-cell *matHeaderCellDef> Vykdyti </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="vykdyti(element.id)">
        <button class="mat-primary">vykdyti</button>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="pavadinimas">
    <th mat-header-cell *matHeaderCellDef> Pavadinimas </th>
    <td mat-cell *matCellDef="let element"> {{element.pavadinimas}} </td>
  </ng-container>

  <ng-container matColumnDef="produkcijos">
    <th mat-header-cell *matHeaderCellDef> <div class="produkciju-margin">Pasirinktos produkcijos</div></th>
    <td mat-cell *matCellDef="let element">
      <mat-expansion-panel class="no-box-shadow">
        <mat-expansion-panel-header class="mat-elevation-z0">
          <mat-panel-title>
            Produkcijos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul *ngFor="let produkcija of element.produkcijos">
          <li>{{produkcija.pavadinimas}}</li>
        </ul>
      </mat-expansion-panel>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="stulpeliai"></tr>
  <tr mat-row *matRowDef="let row; columns: stulpeliai;"></tr>
</table>
