<!-- Toolbar -->
<div class="toolbar mb-100" role="banner">
  <a class="ml-20 ml-50" routerLink="/pagrindinis">Pagrindinis</a>
<!--  <a class="ml-20" routerLink="/plano-kurimas">Kurti gamybos planą</a>-->
  <a class="ml-20" routerLink="/produkcijos">Produkcijų sąrašas</a>
  <a class="ml-20" routerLink="/gamybos-grandines">Produkcijų grandinių sąrašas</a>
</div>
<div class="row">
  <div class="column left">
    <div class="m1"></div>
  </div>
  <div class="column middle">
    <router-outlet></router-outlet>
  </div>
  <div class="column right">
    <div class="m1"></div>
  </div>
</div>
