<h1>Sveiki atykę į produkcijų vykdymo sistema</h1>
<h2>Gamybos planų sąrašas</h2>

<mat-form-field>
  <mat-label>Produkcijos</mat-label>
  <mat-select multiple [(ngModel)]="pasirinktosProdukcijos" disableOptionCentering>
    <mat-option (onSelectionChange)="printProd()" *ngFor="let produkcija of produkcijos" [value]="produkcija">{{produkcija.pavadinimas}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-list>
  <mat-list-item> Pepper </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
</mat-list>
